header {
  background-image: url(../img/fundoheader.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 60px 20px 40px; /* Ajuste conforme necessário */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: #3e2f00;
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto 20px;
  max-width: 800px;
}

header h1 img {
  max-height: 150px; /* Ajuste essa altura para diminuir a imagem */
  width: auto;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

header p img {
  max-height: 200px; /* Altura menor para a segunda imagem */
  width: auto;
  margin-left: 1px; /* Espaçamento entre o texto e a imagem */
}





