.social {
  text-align: center;
  margin-top: 40px;
}

.social h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #3e2f00;
}

.social-links a {
  font-weight: 600;
  color: #3b5998;
  text-decoration: underline;
  margin-right: 15px;
  transition: color 0.3s ease;
   
}



.social-links a:hover {
  color: #1877f2;
}


.social-links {
  display: flex;
  justify-content: column;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}